/*
replace all colors with following formating, use @test
@define-color test #f9a039;
@define-color -primary;
@define-color -secondary;
*/

@define-color Normal-primary #F5EA95;
@define-color Normal-secondary #bfc775;

@define-color Fire-primary #f4a9a1;
@define-color Fire-secondary #df7165;

@define-color Water-primary #abd3da;
@define-color Water-secondary #7c9ca1;

@define-color Electric-primary #f4e1a1;
@define-color Electric-secondary #c5b171;

@define-color Grass-primary #c6f4a1;
@define-color Grass-secondary #9bcc73;

@define-color Ice-primary #c1e5eb;
@define-color Ice-secondary #91aaad;

@define-color Fighting-primary #de8885;
@define-color Fighting-secondary #a15a57;

@define-color Poison-primary #cea1f4;
@define-color Poison-secondary #a074c4;

@define-color Ground-primary #d3b695;
@define-color Ground-secondary #a58c6f;

/* @define-color Flying-primary; */
@define-color Flying-secondary #7bb4cc;

/* @define-color Psychic-primary;
@define-color Psychic-secondary; */

@define-color Bug-primary #d5f193;
@define-color Bug-secondary #becc8c;

/* @define-color Rock-primary;
@define-color Rock-secondary;

@define-color Ghost-primary;
@define-color Ghost-secondary;

@define-color Dragon-primary;
@define-color Dragon-secondary;

@define-color Dark-primary;
@define-color Dark-secondary;

@define-color Steel-primary;
@define-color Steel-secondary; */

/* Search screen */
.search_screen {
  border-radius: 15px 15px;

  box-shadow: 0px 2px 4px gray;
  border: 1.5px solid;
}

/* Animations */
@keyframes selected {
  25% {
    margin-bottom: 48px;
  }
  50% {
    margin-bottom: -0px;
  }
  75% {
    margin-bottom: -48px;
  }
  100% {
    margin-bottom: 0px;
  }
}

@keyframes deselected {
  100% {
    margin-bottom: 0px;
  }
}

/* Rename to just selected */
.currently_selected {
  animation-name: selected;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards
}

.deselected {
  animation-name: deselected;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards
}

/* Evolution screen */
.evolution_card {
  border: 1.5px solid;
  border-radius: 10px;
  box-shadow: 0px 1px 4px gray;
  min-height: 120px;
  min-width: 90px;
}

.evolution_card_icon {
  background-color: white;
  border-radius: 1000px;
  margin: 5px 25px 5px 25px;
}

.evolution_card_text {
  font-family: "Lucida Console", Courier, monospace;
  color: #616161;
  font-weight: bold;
  font-size: 14px;
}

/* Menu bar */
.menu_bar {
  background-color: #263137;
  box-shadow: 0px 1px 4px gray;
  color: white;
}

.menu_bar_text {
  margin: 0px 10px 0px 10px;
}

/* Description screen */
.pokemon_description_name {
  font-family: "Lucida Console", Courier, monospace;
  font-weight: bold;
  font-size: 20px;
}

.pokemon_description_text {
  font-size: 20px;
}

.pokemon_description_top_box {
  border-radius: 15px 15px 0px 0px;

  box-shadow: 0px 2px 4px gray;
  border: 1.5px solid;
}

.pokemon_description_bottom_box {
  border-radius: 0px 0px 15px 15px;

  box-shadow: 0px 2px 4px gray;
  border: 1.5px solid;

  background-color: #e2e2e2;
}

/* List screen*/
.icon{
  background-color: white;
  border-radius: 20px;
  margin: 0px 0px 0px 5px;
}

.button{
  border-radius: 100px;
  box-shadow: 0px 2px 4px gray;
  border: 1.5px solid;
}

.name{
  font-family: "Lucida Console", Courier, monospace;
  font-weight: bold;
  font-size: 14px;
}

.number{
  font-family: "Lucida Console", Courier, monospace;
  color: #616161;
  font-size: 14px;
  margin: 0px 10px 0px 15px;
}

.type{
  color: #FFFFFF;
  border-radius: 100px;
  margin: 0px 0px 0px 8px;
  padding: 0 10px;
  min-width: 50px;
}

/* Search screen (not renaming variables right now because I'm planning on
reworking the search screen)*/
.search {
  margin: 5px 20px 5px 0px;
  /* border-radius: 50px; */
  border-radius: 15px 50px 50px 5px;
}

.search_box {
  box-shadow: 0px 2px 4px gray;
  background-color: #a1c8f4;
}

.search_sub1 {
  margin: 5px 0px 5px 0px;
}

.search_sub2 {
  margin: 5px 20px 5px 0px;
}

/* Pokemon type colors (Light) */
.Grass{
  background-color: @Grass-primary;
  border-color: @Grass-secondary;
}

.Poison{
  background-color: @Poison-primary;
  border-color: @Poison-secondary;
}

.Water{
  background-color: @Water-primary;
  border-color: @Water-secondary;
}

.Fire{
  background-color: @Fire-primary;
  border-color: @Fire-secondary;
}

.Normal{
  background-color: @Normal-primary;
  border-color: @Normal-secondary;
}

.Electric{
  background-color: @Electric-primary;
  border-color: @Electric-secondary;
}

.Bug{
  background-color: @Bug-primary;
  border-color: @Bug-secondary;
}

.Ground{
  background-color: @Ground-primary;
  border-color: @Ground-secondary;
}

/* Pokemon type colors (Dark) */
.Poison_type{
  background-color: @Poison-secondary;
}

.Water_type{
  background-color: @Water-secondary;
}

.Grass_type{
  background-color: @Grass-secondary;
}

.Fire_type{
  background-color: @Fire-secondary;
}

.Flying_type{
  background-color: @Flying-secondary;
}

.Normal_type{
  background-color: @Normal-secondary;
}

.Bug_type{
  background-color: @Bug-secondary;
}

.Electric_type{
  background-color: @Electric-secondary;
}

.Ground_type{
  background-color: @Ground-secondary;
}