/* MENU BAR */
.menu_bar {
  background-color: #263137;
  box-shadow: 0px 1px 4px gray;
}

.menu_bar_text {
  color: white;
}

.pokemon_description_text1 {
  /* font-size: 20px; */
  background-color: #f4a9a1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /* box-shadow: 0px 1px 4px gray; */
}

.pokemon_description_text2 {
  font-size: 20px;
  background-color: #cacaca;
  border-radius: 10px;
  margin-top: 10px;
  /* min-height: 120px; */
}

/* ICON FORMAT */
.icon{
  background-color: white;
  border-radius: 20px;
  margin: 0px 0px 0px 5px;
}

/* BUTTON FORMAT */
.button{
  border-radius: 100px;
  box-shadow: 0px 2px 4px gray;
}

/* BUTTON ENTRY FORMAT */
.name{
  font-family: "Lucida Console", Courier, monospace;
  font-weight: bold;
  font-size: 14px;
}

.number{
  font-family: "Lucida Console", Courier, monospace;
  color: #616161;
  font-size: 14px;
  margin: 0px 10px 0px 15px;
}

.type{
  color: #FFFFFF;
  border-radius: 100px;
  margin: 0px 0px 0px 8px;
  padding: 0 10px;
  min-width: 50px;
}

/* SEARCH BARS*/
.search {
  margin: 5px 20px 5px 20px;
  border-radius: 50px;
}

.search_box {
  box-shadow: 0px 2px 4px gray;
  background-color: #a1c8f4;
  border-color: #c6f4a1;
}

.search_sub1 {
  margin: 5px 0px 5px 0px;
}

.search_sub2 {
  margin: 5px 20px 5px 0px;
}

/* TYPES PRIMARY-SHADES */
.Grass{
  background-color: #c6f4a1;
  border-color: #9bcc73;
}

.Poison{
  background-color: #cea1f4;
  border-color: #a074c4;
}

.Water{
  background-color: #abd3da;
  border-color: #7c9ca1;
}

.Fire{
  background-color: #f4a9a1;
  border-color: #df7165;
}

.Normal{
  background-color: #F5EA95;
  border-color: #bfc775;
}

.Electric{
  background-color: #f4e1a1;
  border-color: #c5b171;
}

.Bug{
  background-color: rgb(213, 241, 147);
  border-color: rgb(190, 204, 140);
}

.Ground{
  background-color: #d3b695;
  border-color: #a58c6f;
}

/* TYPES SECONDARY-SHADES */
.Poison_type{
  background-color: #a074c4;
}

.Water_type{
  background-color: #7c9ca1;
}

.Grass_type{
  background-color: #9bcc73;
}

.Fire_type{
  background-color: #df7165;
}

.Flying_type{
  background-color: rgb(123, 180, 204);
}

.Normal_type{
  background-color: #bfc775;
}

.Bug_type{
  background-color: rgb(190, 204, 140);
}

.Electric_type{
  background-color: #c5b171;
}

.Ground_type{
  background-color: #a58c6f;
}

/* |      Poison      | */
/* |      Flying      | */
/* |       Fire       | */
/* |      Grass       | */
/* |      Water       | */
/* |       Bug        | */
/* |      Dragon      | */
/* |       Rock       | */
/* |      Ground      | */
/* |      Normal      | */
/* |       Dark       | */
/* |      Ghost       | */
/* |      Steel       | */
/* |      Psychic     | */
/* |     Electric     | */