/* Animations */
@keyframes selected {
  25% {
    margin-bottom: 48px;
  }
  50% {
    margin-bottom: -0px;
  }
  75% {
    margin-bottom: -48px;
  }
  100% {
    margin-bottom: 0px;
  }
}

@keyframes deselected {
  100% {
    margin-bottom: 0px;
  }
}

/* Rename to just selected */
.currently_selected {
  animation-name: selected;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards
}

.deselected {
  animation-name: deselected;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards
}

/* Evolution screen */
.evolution_card {
  border: 1.5px solid;
  border-radius: 10px;
  box-shadow: 0px 1px 4px gray;
  min-height: 120px;
  min-width: 90px;
}

.evolution_card_icon {
  background-color: white;
  border-radius: 1000px;
  margin: 5px 25px 5px 25px;
}

.evolution_card_text {
  font-family: "Lucida Console", Courier, monospace;
  color: #616161;
  font-weight: bold;
  font-size: 14px;
}

/* Menu bar */
.menu_bar {
  background-color: #263137;
  box-shadow: 0px 1px 4px gray;
}

.menu_bar_text {
  color: white;
}

/* Description screen */
.pokemon_description_name {
  font-family: "Lucida Console", Courier, monospace;
  font-weight: bold;
  font-size: 20px;
}

.pokemon_description_text {
  font-size: 20px;
}

.pokemon_description_top_box {
  border-radius: 15px 15px 0px 0px;

  box-shadow: 0px 2px 4px gray;
  border: 1.5px solid;
}

.pokemon_description_bottom_box {
  border-radius: 0px 0px 15px 15px;

  box-shadow: 0px 2px 4px gray;
  border: 1.5px solid;

  background-color: #e2e2e2;
}

/* List screen*/
.icon{
  background-color: white;
  border-radius: 20px;
  margin: 0px 0px 0px 5px;
}

.button{
  border-radius: 100px;
  box-shadow: 0px 2px 4px gray;
  border: 1.5px solid;
}

.name{
  font-family: "Lucida Console", Courier, monospace;
  font-weight: bold;
  font-size: 14px;
}

.number{
  font-family: "Lucida Console", Courier, monospace;
  color: #616161;
  font-size: 14px;
  margin: 0px 10px 0px 15px;
}

.type{
  color: #FFFFFF;
  border-radius: 100px;
  margin: 0px 0px 0px 8px;
  padding: 0 10px;
  min-width: 50px;
}

/* Search screen (not renaming variables right now because I'm planning on
reworking the search screen)*/
.search {
  margin: 5px 20px 5px 20px;
  border-radius: 50px;
}

.search_box {
  box-shadow: 0px 2px 4px gray;
  background-color: #a1c8f4;
}

.search_sub1 {
  margin: 5px 0px 5px 0px;
}

.search_sub2 {
  margin: 5px 20px 5px 0px;
}

/* Pokemon type colors (Light) */
.Grass{
  background-color: #c6f4a1;
  border-color: #9bcc73;
}

.Poison{
  background-color: #cea1f4;
  border-color: #a074c4;
}

.Water{
  background-color: #abd3da;
  border-color: #7c9ca1;
}

.Fire{
  background-color: #f4a9a1;
  border-color: #df7165;
}

.Normal{
  background-color: #F5EA95;
  border-color: #bfc775;
}

.Electric{
  background-color: #f4e1a1;
  border-color: #c5b171;
}

.Bug{
  background-color: rgb(213, 241, 147);
  border-color: rgb(190, 204, 140);
}

.Ground{
  background-color: #d3b695;
  border-color: #a58c6f;
}

/* Pokemon type colors (Dark) */
.Poison_type{
  background-color: #a074c4;
}

.Water_type{
  background-color: #7c9ca1;
}

.Grass_type{
  background-color: #9bcc73;
}

.Fire_type{
  background-color: #df7165;
}

.Flying_type{
  background-color: rgb(123, 180, 204);
}

.Normal_type{
  background-color: #bfc775;
}

.Bug_type{
  background-color: rgb(190, 204, 140);
}

.Electric_type{
  background-color: #c5b171;
}

.Ground_type{
  background-color: #a58c6f;
}


/* SOON TO BE REMOVED */
/* ONLY USED IN OLD INFO SCREEN */
.pokemon_description_text2 {
  background-color: #e2e2e2;
  border-radius: 15px;
  margin: 5px;
  font-size: 20px;

  box-shadow: 0px 2px 4px gray;
  border: 1.5px solid;
}