/* MENU BAR */
.menu_bar {
  background-color: #263137;
  box-shadow: 0px 2px 4px gray;
}

.menu_bar_text {
  color: #fff;
}

/* ICON FORMAT */
.icon{
  background-color: white;
  border-radius: 20px;
}

/* BUTTON FORMAT */
.button{
  border-radius: 100px;
  box-shadow: 0px 2px 4px gray;
}

/* TYPE FORMAT */
.grass{
  background-color: #c6f4a1;
  border-color: #c6f4a1;
}

.poison{
  background-color: #cea1f4;
  border-color: #cea1f4;
}

.water{
  background-color: #acced3;
  border-color: #acced3;
}

.fire{
  background-color: #f4a9a1;
  border-color: #f4a9a1;
}

.normal{
  background-color: #edf5a9;
  border-color: #edf5a9;
}

.electric{
  background-color: #f4e1a1;
  border-color: #f4e1a1;
}

.bug{
  background-color: rgb(199, 209, 121);
  border-color: rgb(199, 209, 121);
}

/* TEXT FORMAT */
.name{
  font-family: "Lucida Console", Courier, monospace;
  font-weight: bold;
  font-size: 14px;
}

.number{
  font-family: "Lucida Console", Courier, monospace;
  color: #616161;
  font-size: 14px;
}

.type{
  color: #FFFFFF;
  border-radius: 100px;
}

.poison_type{
  background-color: #a074c4;
}

.water_type{
  background-color: #7c9ca1;
}

.grass_type{
  background-color: #9bcc73;
}

.fire_type{
  background-color: #df7165;
}

.flying_type{
  background-color: rgb(123, 180, 204);
}

.normal_type{
  background-color: #bfc775;
}


.bug_type{
  background-color: rgb(190, 204, 140);
}

/* |      Poison      | */
/* |      Flying      | */
/* |       Fire       | */
/* |      Grass       | */
/* |      Water       | */
/* |       Bug        | */
/* |      Dragon      | */
/* |       Rock       | */
/* |      Ground      | */
/* |      Normal      | */
/* |       Dark       | */
/* |      Ghost       | */
/* |      Steel       | */
/* |      Psychic     | */
/* |     Electric     | */