/* ICON FORMAT */
.icon{
  background-color: white;
  border-radius: 20px;
}

/* TYPE FORMAT */
.grass{
  background-color: #c6f4a1;
  border-radius: 100px;
}

.poison{
  background-color: #cea1f4;
  border-radius: 100px;
}

.water{
  background-color: #acced3;
  border-radius: 100px;
}

.fire{
  background-color: #f4a9a1;
  border-radius: 100px;
}

.normal{
  background-color: #edf5a9;
  border-radius: 100px;
}

.electric{
  background-color: #f4e1a1;
  border-radius: 100px;
}

.bug{
  background-color: #D4DC92;
  border-radius: 100px;
}

/* TEXT FORMAT */
.name{
  font-family: "Lucida Console", Courier, monospace;
  font-weight: bold;
  font-size: 14px;
}

.number{
  font-family: "Lucida Console", Courier, monospace;
  color: #616161;
  font-size: 14px;
}

.poison_type{
  background-color: #a074c4;
  color: #FFFFFF;
  border-radius: 100px;
}

.water_type{
  background-color: #7c9ca1;
  color: #FFFFFF;
  border-radius: 100px;
}

.grass_type{
  background-color: #9bcc73;
  color: #FFFFFF;
  border-radius: 100px;
}

.fire_type{
  background-color: #df7165;
  color: #FFFFFF;
  border-radius: 100px;
}

.flying_type{
  background-color: rgb(123, 180, 204);
  color: #FFFFFF;
  border-radius: 100px;
}

.bug_type{
  background-color: rgb(175, 190, 119);
  color: #FFFFFF;
  border-radius: 100px;
}

/* |      Poison      | */
/* |      Flying      | */
/* |       Fire       | */
/* |      Grass       | */
/* |      Water       | */
/* |       Bug        | */
/* |      Dragon      | */
/* |       Rock       | */
/* |      Ground      | */
/* |      Normal      | */
/* |       Dark       | */
/* |      Ghost       | */
/* |      Steel       | */
/* |      Psychic     | */
/* |     Electric     | */